<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Dakota Cassidy is a recent graduate from Arizona State University with a BS in Business Data Analytics.
          She has a Google Data Analytics certificate, and is pursuing certificates in Marketing and E-commerce as 
          well as UX/UI design. Dakota is passionate about coding in many different IDE's and languages, not just
          data analysis.</p>
      </div>
      <div class="col-lg-4">
        <p> Skills: Python, SQL, R, HTML, YAML, Javascript, css, Ruby, Advanced Excel, Data Cleaning, ETL, Tableau, Slack, Trello, 
            Orange, Google Cloud Platform, Amazon Web Services, Hadoop, JPM, Google Colab, Data Mining, 
            Data Warehousing, Dimensional Modeling, Big Data Programming, Big Data Security, Machine Learning
          </p>
      </div>
    </div>
  </div>
</section>
